<h1>My bookings</h1>

<h2>Pending Bookings</h2>
<% @pending_bookings.each do |booking| %>
  <%= booking.venue.name %>
  <%= booking.date %>
<% end %>

<h2>Confirmed Parties</h2>
<% @accepted_bookings.each do |booking| %>
  <%= booking.venue.name %>
  <%= booking.date %>
<% end %>

<h2>Raves At My Venue</h2>

<%= render 'actions', bookings: @owner_bookings %>
