<h1>New Booking Request</h1>

<%= simple_form_for [@venue, @booking] do |f| %>
<%= f.input :start_date,
  as: :string,
  input_html: {data: {controller: "datepicker", action: "input->datepicker#connect"}}
%>
<%= f.input :end_date,
  as: :string,
  input_html: {data: {controller: "datepicker", action: "input->datepicker#connect"}}
%>

  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
  <%= f.input :venue_id, as: :hidden, input_html: { value: @venue.id } %>

  <%= f.submit "Book it", class:"btn btn-primary" %>
<% end %>
