<h1>Booking Request Details</h1>

<p>
  <strong>User:</strong>
  <%= @booking_request.user.first_name %>
  <%= @booking_request.user.last_name %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @booking_request.venue.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking_request.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking_request.status %>
</p>

<% if @booking_request.venue.user == current_user %>
  <%= link_to "Approve Booking", accept_path(@booking_request) %>
  <%= link_to "Reject Booking", reject_path(@booking_request) %>
<% end %>
