<div class="container info-card">
  <h2><strong>Name: </strong><%= venue.name %></h2>
  <p><strong>Address: </strong><%= venue.address %></p>
  <p><strong>Description: </strong><%= venue.description %></p>
  <p><strong>Capacity: </strong><%= venue.capacity %> people</p>
  <p><strong>Bustability: </strong><%= venue.bustability %> % chance of being busted</p>
</div>
