<h2><%=@venue.name %></h2>
<p><%=@venue.address %></p>
<p><%=@venue.description %></p>
<p><%=@venue.capacity %></p>
<p><%=@venue.bustability %></p>
<img src= "<%= cloudinary_pic(@venue) %>" alt="Venue pic" class="">
<p></p>
<%= link_to "Edit venue" , edit_venue_path , class:"btn btn-warning" %>
<p></p>
<%= link_to "back to venues" , venues_path , class:"btn btn-primary" %>
<p></p>
<%= link_to "Delete",venue_path(@venue),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} , class:"btn btn-danger"  %>
