<h2><%=@venue.name %></h2>
<div class="container venue-details">
  <p>Name: <%=@venue.name %></p>
  <p>Address: <%=@venue.address %></p>
  <p>Description: <%=@venue.description %></p>
  <p>Capacity: <%=@venue.capacity %> people</p>
  <p>Bustability: <%=@venue.bustability %> % chance of being busted</p>
  <div class="row">
    <div class="col">
      <img src= "<%= cloudinary_pic(@venue) %>" alt="Venue pic" class="">
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
<p></p>
<%= link_to "Edit Venue" , edit_venue_path , class:"btn btn-warning" %>
<p></p>
<%= link_to "Back to Venues" , venues_path , class:"btn btn-primary" %>
<p></p>
<%= link_to "Delete",venue_path(@venue),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} , class:"btn btn-danger"  %>
    <%= link_to "Book This Place" , new_venue_booking_path(@venue) , class:"btn btn-primary" %>