<h2><%= @article.title %></h2>
<p><%= @article.content %></p>
<p></p>
<%= link_to "Edit article" , edit_article_path , class:"btn btn-warning" %>
<p></p>
<%= link_to "back to articles" , articles_path , class:"btn btn-primary" %>
<p></p>
<%= link_to "Delete",article_path(@article),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} , class:"btn btn-danger"  %>

